<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Trees</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-list>
                <ion-radio-group>
                    <ion-item>
                        <ion-label>Yes</ion-label>
                        <ion-radio slot="start" value="Yes" checked></ion-radio>
                    </ion-item>

                    <ion-item>
                        <ion-label>No</ion-label>
                        <ion-radio slot="start" value="No"></ion-radio>
                    </ion-item>
                </ion-radio-group>
            </ion-list>

            <textarea class="form-control" placeholder="text here"></textarea>
            <br>
            <button class="btn btn-info">Upload Image</button>
        </ion-card-content>
    </ion-card>

    <hr>

    <ion-card>
        <img src="../../assets/Imgs/HomePageTrees.jpg" />
        <ion-card-header>
            <ion-card-subtitle>Destination</ion-card-subtitle>
            <ion-card-title>Madison, WI</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-radio-group>
                    <ion-item>
                        <ion-label>Yes</ion-label>
                        <ion-radio slot="start" value="Yes" checked></ion-radio>
                    </ion-item>

                    <ion-item>
                        <ion-label>No</ion-label>
                        <ion-radio slot="start" value="No"></ion-radio>
                    </ion-item>
                </ion-radio-group>
            </ion-list>

            <textarea class="form-control" placeholder="text here"></textarea>
            <br>
            <button class="btn btn-info">Upload Image</button>
        </ion-card-content>
    </ion-card>
</ion-content>