<ion-tabs>
    <ion-tab-bar slot="bottom" style="background: green !important;">
        <ion-tab-button tab="tab1" style="background: green; color: white;">
            <ion-icon name="partly-sunny"></ion-icon>
            <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab2" style="background: green; color: white;">
            <ion-icon name="leaf"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="tab3" style="background: green; color: white;">
            <ion-icon name="jet"></ion-icon>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>