<ion-row class="text-center">
    <ion-col>
        <img class="logo-img" src="../../assets/Imgs/mickey-mouse-for-facebook.jpg">
    </ion-col>
</ion-row>

<ion-card>
    <img src="../../assets/Imgs/HomePageTrees.jpg">
    <ion-card-header>
        <ion-card-subtitle>Welcome to</ion-card-subtitle>
        <ion-card-title>Tomorrow's Green Skies</ion-card-title>
    </ion-card-header>

    <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
</ion-card>

<button class="btn btn-primary">Hello</button>