<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <!-- <ion-title>
            Home
        </ion-title> -->
    </ion-toolbar>
</ion-header>

<ion-content>
    <div>
        <img class="background" src="../../assets/Imgs/HomePageTrees.jpg">

        <ion-row class="text-center">
            <ion-col>
                <img class="logo-img" src="../../assets/Imgs/tree.png">
            </ion-col>
        </ion-row>

        <ion-card class="welcome-card">
            <!--<img src="../../assets/Imgs/HomePageTrees.jpg">-->
            <ion-card-header>
                <ion-card-subtitle class="welcome-card-title">Welcome to</ion-card-subtitle>
                <ion-card-title class="welcome-card-sub-title">Tomorrow's Green Skies</ion-card-title>
            </ion-card-header>

            <!-- <ion-card-content class="welcome-card-content">
                Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean.
            </ion-card-content> -->
        </ion-card>


        <ion-card class="current-temp">
            <ion-card-content class="cardContent">
                <ion-grid>
                    <ion-row>
                        <ion-col width-50 offset-25>
                            <h2 class="temp">xxxx&deg;</h2>
                            <div class="text-center">
                                <ion-avatar class="weather-icon"><img src="../../assets/Imgs/sunny.png"></ion-avatar>
                            </div>
                            <h3 class="desc">xxxx</h3>
                        </ion-col>
                    </ion-row>

                    <ion-row class="row-content">
                        <ion-col col-4>xxxx</ion-col>
                        <ion-col col-4>xxxxM/S</ion-col>
                        <ion-col col-4>xxxx%</ion-col>
                    </ion-row>
                    <hr>

                    <ion-row class="rowDetail">
                        <ion-col col-6 class="itemName">
                            <ion-icon name="umbrella"></ion-icon>
                            Humidity
                        </ion-col>
                        <ion-col col-6 class="col_ion">xx %</ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>

        <!--<ion-card class="card-ion">
            <ion-card-content>
                <ion-card-header>Details</ion-card-header>
                <ion-grid class="card-list">
                    <ion-row class="rowDetail">
                        <ion-col col-6 class="itemName">
                            <ion-icon name="cloud"></ion-icon>
                            Pressure
                        </ion-col>
                        <ion-col col-6 class="col_ion">xx HPa</ion-col>
                    </ion-row>
                    <ion-row class="rowDetail">
                        <ion-col col-6 class="itemName">
                            <ion-icon name="umbrella"></ion-icon>
                            Humidity
                        </ion-col>
                        <ion-col col-6 class="col_ion">xx %</ion-col>
                    </ion-row>
                    <ion-row class="rowDetail">
                        <ion-col col-6 class="itemName">
                            <ion-icon name="eye"></ion-icon>
                            Visibility
                        </ion-col>
                        <ion-col col-6 class="col_ion">xx </ion-col>
                    </ion-row>
                    <ion-row class="rowDetail">
                        <ion-col col-6 class="itemName">
                            <ion-icon name="ios-globe"></ion-icon>
                            Longitude
                        </ion-col>
                        <ion-col col-6 class="col_ion">xx </ion-col>
                    </ion-row>
                    <ion-row class="rowDetail">
                        <ion-col col-6 class="itemName">
                            <ion-icon name="ios-globe"></ion-icon>
                            Latitude
                        </ion-col>
                        <ion-col col-6 class="col_ion">xx </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>-->
    </div>
</ion-content>